cycler==0.10.0
decorator==4.2.1
imutils==0.4.5
matplotlib==2.1.1
networkx==2.0
numpy==1.14.0
opencv-python==3.4.0.12
Pillow==5.0.0
pydub==0.20.0
pyparsing==2.2.0
PyQt5==5.9.2
pytesseract==0.1.7
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
scikit-image==0.13.1
scipy==1.0.0
selenium==3.8.1
sip==4.19.6
six==1.11.0
SpeechRecognition==3.8.1
